# lec1
## How to install Numpy

Python IDE:
 IDE means Integrated Development Environment i.e, a environment which is used to develop the code.
 
 ex-: IDLE(default IDE):no packages should be installed with this.
 Libraries should be installed explicitly.
 
 JUPYTER,Pycharm,Pydev,sublime text.here many libraries already installed within them implicitly.

pip is used to install the packages or the libraries.
pip install numpy : give this command in command prompt to install numpy.

# lec 2
## Basics of Numpy(creation of ndarray)

1. Numerical Python.
2. Provides lot of functions to work in a domain of linear algebra,fourier transforms and matrices.
3. Provides functions related to arrays.
4. Creates an array called ndarray.
5. Working of ndarray is faster than list.

In [4]:
import numpy 
numpy.__version__ # gives the version present in the system.

'1.21.5'

Most of the part of Numpy is written in C and C++.

1.To create an ndarray(array) we have to use array() and pass either list or tuple.

In [7]:
import numpy as np
a=np.array([1,2,3])
print(a)

[1 2 3]

1. 0-D array: only one element is passed here.
   np.array(45) -> 45  
2. 1-D array: here array of 0-D elements is passed here.
   np.array([1,2,3,4] -> [1 2 3 4] .. it is simply an array of 0-D elements.
   
3. 2-D array: here array of 1-D elements is passed here.
   np.array([[1,2,3],[4,5,6],[6,7,8]])
    it is simply an array of 1D array elements.

4. 3-D array: here array of 2-D elements is passed here.
    np.array([[[1,2,3],[4,5,6],[6,7,8]],[[1,2,3],[4,5,6],[6,7,8]]])
     it is simply an array of 2D array elements.

Dimension--> level of the depth of the array.
 ndim is used to get the dimension of the array.

In [11]:
d0=np.array(9)
print(d0) # 0D array

9

In [12]:
d1=np.array([1,2,3])
print(d1)

[1 2 3]

In [13]:
d2=np.array([[1,2,3],[3,4,5]])

In [14]:
print(d2)

[[1 2 3]
 [3 4 5]]

In [15]:
d1.ndim

1

In [16]:
d2.ndim

2

In [17]:
type(d2)

numpy.ndarray

# lec 3
## ASARRAY(),FROMBUFFER(),FROMITER() IN NUMPY(ARRAYS WITH EXISTING DATA)

# Arrays with existing data
1. asarray:
  convert the given input into the required data type. takes three arguments.
  asarray(input,datatype,order)
  
  input can be a list or tuple or any combination.
  datatype can be int or str or floats
  order will be either row or column major [ row major-C,column major-F]
  [[1 2 3]
  [4 5 6]]..
  for this 2D array if we give row major order we get output as :[1 2 3 4 5 6]
  and column major order :[1 4 2 5 3 6]
   row major order 
   nditer() helps to show the difference between column major and row major order.

In [2]:
import numpy as np
l1=[1,2,3,4]
np.asarray(l1,dtype="float",order="C")

array([1., 2., 3., 4.])

In [3]:
l1=[1,2,3,4]
np.asarray(l1,dtype="float",order="F")

array([1., 2., 3., 4.])

In [7]:
l2=[[1,2,3,4],[2,6,5,9]]
np.asarray(l2,dtype="float",order="C")

array([[1., 2., 3., 4.],
       [2., 6., 5., 9.]])

In [10]:
l2=[[1,2,3,4],[2,6,5,9]]
np.asarray(l2,dtype="float",order="F") # here we won't observe any change here.
# print all the elements using nditer.
# nditer() prints all the elements in 1D  array.

array([[1., 2., 3., 4.],
       [2., 6., 5., 9.]])

2. frombuffer:
    it takes 4 parameters. (buffer,dtype,count,offset)
    buffer means nothing but the input data u going to pass.
    dtype can be int or float or (string)
    count means the number of elements we want to return(default is -1 which means entire string).
    offset means the no of elements to jump from starting position. default is 0.
    
    this will create an array with given datatype of given length from given position.
    
    
    ex- s=b"welcome"  # since b is given it will consider as byte (ascii values) not as a string here.
         
        frombuffer(s,dtype="S1",count=-1,offset=0) # count and offset are otional here.

In [31]:
s=b"welcome"
np.frombuffer(s,dtype="S1",count=-1,offset=0)

array([b'w', b'e', b'l', b'c', b'o', b'm', b'e'], dtype='|S1')

3. fromiter:
 takes an iterable sequence and gives the array with given count
  fromiter(iterable,dtype,count)
     # default count value is -1
        
        t=(10,20,30,40)
        np.fromiter(t,dtype="float",count=-1)

In [19]:
a=np.array([10,20,30,40])

In [20]:
a

array([10, 20, 30, 40])

In [21]:
res=np.asarray(a,dtype="float",order="C")

In [22]:
print(res)

[10. 20. 30. 40.]

In [25]:
l2=[[1,2,3,4],[2,6,5,9]]
res1=np.asarray(l2,dtype="float",order="F") # here we won't observe any change here.

In [26]:
print(res1)

[[1. 2. 3. 4.]
 [2. 6. 5. 9.]]

In [28]:
# print all the elements using nditer.
# nditer() prints all the elements in 1D  array.

for i in np.nditer(res1): # here we can observe the difference neatly.
    print(i)

1.0
2.0
2.0
6.0
3.0
5.0
4.0
9.0

In [30]:
l2=[[1,2,3,4],[2,6,5,9]]
res1=np.asarray(l2,dtype="float",order="C")
for i in np.nditer(res1): # here we can observe the difference neatly.
    print(i)

1.0
2.0
3.0
4.0
2.0
6.0
5.0
9.0

In [34]:
s=b"hello_world" # here b means which means this data will be stored in bytes format not as strings.
res=np.frombuffer(s,dtype="S1",count=5,offset=4)
print(res)

[b'o' b'_' b'w' b'o' b'r']

In [35]:
list1=[10,20,3,4,5,6,7,8]
d=np.fromiter(list1,dtype="S1",count=-1)

In [36]:
print(d)

[b'1' b'2' b'3' b'4' b'5' b'6' b'7' b'8']

# lec 4
## ARANGE(),LINSPACE(),LOGSPACE() IN NUMPY (ARRAYS WITH NUMERICAL RANGES)

#arrays with numerical ranges
1.arange(),linspace(),logspace()
     here we pass numerical ranges as inputs and they returns an array with values in given range and required datatype.
    all these have commonly start index,end  index,and datatype(optional)
    
    
    
1.ARANGE():
    
    
    arange(start,stop,stepsize,dtype)  stepsize-difference between the two values,dtype is optional
    #stop value is not included here.

In [5]:
import numpy as np
np.arange(1,12,2,dtype="float") # we given stepsize as 2. so the difference between the elements is 2.

array([ 1.,  3.,  5.,  7.,  9., 11.])

2. linspace()
  linspace(start,stop,num,endpoint,retstep,dtype)
    
    num-> the number of elements u want to return in the array.[optional and default value is 50]. 
    endpoint-> suppose if the endpoint is True then the stop index value is also included else if it is False then end value is not included.[optional and default is True ]
    retstep-> returns the stepsize between the each elements in the array.[difference between the values]
             if True then stepsize will be visible else if it given False then stepsize is not visible.[default value is False]

In [13]:
print(np.linspace(1,10,num=5,endpoint=True,retstep=True,dtype="float")) # here the stepsize is 2.25

(array([ 1.  ,  3.25,  5.5 ,  7.75, 10.  ]), 2.25)

In [14]:
print(np.linspace(1,10,5,endpoint=False,retstep=True,dtype="int"))

(array([1, 2, 4, 6, 8]), 1.8)

In [15]:
np.linspace(1,12,endpoint=True) # 50 values will be returned here since count is not given.

array([ 1.        ,  1.2244898 ,  1.44897959,  1.67346939,  1.89795918,
        2.12244898,  2.34693878,  2.57142857,  2.79591837,  3.02040816,
        3.24489796,  3.46938776,  3.69387755,  3.91836735,  4.14285714,
        4.36734694,  4.59183673,  4.81632653,  5.04081633,  5.26530612,
        5.48979592,  5.71428571,  5.93877551,  6.16326531,  6.3877551 ,
        6.6122449 ,  6.83673469,  7.06122449,  7.28571429,  7.51020408,
        7.73469388,  7.95918367,  8.18367347,  8.40816327,  8.63265306,
        8.85714286,  9.08163265,  9.30612245,  9.53061224,  9.75510204,
        9.97959184, 10.20408163, 10.42857143, 10.65306122, 10.87755102,
       11.10204082, 11.32653061, 11.55102041, 11.7755102 , 12.        ])

3.logspace(): # here it returns logarithmic values in the array so base is there in the parameter list.
    logspace(start,stop,num,endpoint,base,dtype)
    
    start->lower bound
    end->upper bound
    num->default value is 50 
    endpoint-> suppose if the endpoint is True then the stop index value is also included else if it is False then end value is not included.[optional and default is True ]
    base= base of log value [optional]
    default value is 10 
    dtype-int /float [optional]

In [17]:
np.logspace(1,10,num=5,endpoint=False,base=2)

array([  2.        ,   6.96440451,  24.25146506,  84.44850629,
       294.06677888])

In [18]:
print(np.logspace(1,10,endpoint=True,base=2))

[   2.            2.27154434    2.57995685    2.9302432     3.32808868
    3.77995051    4.2931626     4.87605462    5.53808714    6.29000526
    7.14401294    8.1139711     9.21562258   10.46684767   11.88795431
   13.50200769   15.3352046    17.41729864   19.78208311   22.4679395
   25.51846045   28.98315726   32.91826347   37.3876476    42.46384973
   48.22925884   54.77745007   62.21470345   70.66172888   80.25562529
   91.15210586  103.52802526  117.58425012  133.54891916  151.681146
  172.27522466  195.66540611  222.2313233   252.40415277  286.67361283
  325.59591193  369.80277612  420.01170228  477.0376034   541.80603498
  615.3682172   698.91809669  793.81172479  901.5892669  1024.        ]

 # lec 5
## Initializing arrays in Numpy(zeros,ones,full,eye functions)

# initialization of arrays in numpy
shape() -> this function will return a tuple specifying indices and no of elements.
 [[1,2,3],[4,5,6]] # gives as(2,3) means 2 indices and each index containing 3 elements. just like the order of the matrix
    # simply we can say as 2 indices with each 3 elements.
reshape()-> change into another shape with different row and order.
 accepts array name and the shape dimensions u want.The total number of elements should be same in reshape result also.
    np.reshape(a,(3,2)

1.zeros():
     a. fills the array with all zeros
     b. dtype is int or float and default is float only.
     c. shape dimensions should be given.
        
        np.zeros((2,3),dtype="int")

In [19]:
print(np.zeros((2,3)))

[[0. 0. 0.]
 [0. 0. 0.]]

In [20]:
np.zeros((2,3),dtype="int")

array([[0, 0, 0],
       [0, 0, 0]])

2. ones():
   a. fills the array with all ones 
     b. dtype is int or float and default is float only.
     c. shape dimensions should be given.
        
        np.ones((2,3),dtype="int")

In [21]:
np.ones(3)

array([1., 1., 1.])

In [22]:
np.ones((3,4),dtype="int")

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

3.full():
    fills all the values with the given element.
    
    np.full((shape,default value)

In [24]:
np.full((3,4),6)

array([[6, 6, 6, 6],
       [6, 6, 6, 6],
       [6, 6, 6, 6]])

4.eye():
  initializes with 1's on all the diagonal positions and remaining elements with zeros in the result.
  
  eye(shape) or eye(rows/columnns),dtype)

In [32]:
np.eye(4,5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [33]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [34]:
np.eye(3,dtype="int")

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [35]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [37]:
np.shape(a)

(3, 3)

In [38]:
np.reshape(a,(9,1))

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [39]:
a.reshape(1,9) #we can aslo give this syntax here.

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [41]:
np.full(7,2) # seven elements with all 2 only.

array([2, 2, 2, 2, 2, 2, 2])